:root {
    --font-color: #06303A;
    --background-page: #023946;
    --white-green: #C1F1F1;
    --white: #FFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    outline: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background: var(--background-page);
}

section {
    display: flex;
    flex-direction: column;

    padding: 3rem 3rem;
    gap: 1.25rem;
    border-radius: 1rem;

    background: var(--white-green);
    color: var(--font-color);
    
    font-size: 1.3rem;
}

section button {
    height: 100%;

    background: var(--font-color);
    color: var(--white);

    font-size: 1.3rem;
    font-weight: bold;

    transition: .3s;
}

h1 {
    font-size: 3rem;
}

.calculator {
    width: 25rem;
    height: 27rem;
}

.display {
    width: 100%;

    padding: 1rem;

    font-size: 1.5rem;
    text-align: right;
}

.btn {
    width: 100%;
    height: 3.125rem;
    font-size: 2rem;
    border: none;
    background: #075164;
}

.btn:hover {
    cursor: pointer;
    background: #021a20;
}

@media(max-width: 900px) {
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 700px) {
    html {
        font-size: 87.5%;
    }

    .calculator {
        height: 30rem;
    }
}

@media(max-width: 540px) {
    html {
        font-size: 75%;
    }

    .calculator {
        height: 35rem;
    }
}

@media(max-width: 500px) {
    html {
        font-size: 68.75%;
    }

    .calculator {
        height: 35rem;
    }
}

@media(max-width: 400px) {
    html {
        font-size: 56.25%;
    }
}
